<% content_for(:title, "Cryptography | Assignment 1 - Decrypt") %>
<div class="container">
  <h1>PUBLIC KEY CRYPTOGRAPHY</h1>
  <h2> Assignment 1 </h2>
  <h3> Decrypted text </h3>
  <p><code><pre><%= decrypted %></pre></code></p>
</div>
