<% content_for(:title, "Cryptography | Assignment 1 - Encrypt") %>
<div class="container">
  <h1>PUBLIC KEY CRYPTOGRAPHY</h1>
  <h2> Assignment 1 </h2>
  <h3> Encrypted text </h3>
  <p><pre><code>encrypt ("<%= text %>") = "<%= encrypted %>"</code></pre></p>
</div>
